<nav class="navbar navbar-expand-lg d-block d-sm-flex">
    <a class="navbar-brand col-lg-2 col-md-4 col-sm-5">
        <img src="../../../assets/ico/logo.svg" height="70" width="auto" alt="">
    </a>
    <div class="row col-lg-10 col-md-8 col-sm-7 primary-border header-row align-items-center">
        <div class="col-md-4 col-sm-7 text-sm-end welcome-text text-center">
            <h3 class="dark-primary mb-0">
                Welcome to Shipping!
            </h3>
            <h6 class="text-sm-end text-center dark-primary mb-0">Invoicing System</h6>
        </div>
        <div class="col-md-8 col-sm-5 pe-0 text-end">
            <ul class="ps-2 primary-gradient-90 d-none d-lg-flex">
                <li class="nav-item w-50">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <img src="../../../assets/ico/search.svg" height="40" width="40" id="button-addon2">
                    </div>
                </li>
                <li class="nav-item icons pe-4 pe-md-1 w-50 text-end">
                    <span>
                        <img class="px-2" src="../../../assets/ico/avatar.svg" height="40" width="40" alt="">
                        <img class="px-2" src="../../../assets/ico/eng-urdu.svg" height="40" width="40" alt="">
                        <img class="px-2" src="../../../assets/ico/bell.svg" height="40" width="40" alt="">
                        <img class="px-2" src="../../../assets/ico/user.svg" height="40" width="40" alt="">
                    </span>
                </li>
            </ul>
            <button (click)="showDropdown()" class="navbar-toggler d-sm-flex d-lg-none ms-sm-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul id="profDropDown" class="ps-2 primary-gradient-90 d-none">
                <li class="nav-item w-50">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                        <img src="../../../assets/ico/search.svg" height="40" width="40" id="button-addon2">
                    </div>
                </li>
                <li class="nav-item icons pe-4 pe-md-1 w-50 text-end">
                    <span>
                        <img class="px-2" src="../../../assets/ico/avatar.svg" height="40" width="40" alt="">
                        <img class="px-2" src="../../../assets/ico/eng-urdu.svg" height="40" width="40" alt="">
                        <img class="px-2" src="../../../assets/ico/bell.svg" height="40" width="40" alt="">
                        <img class="px-2" src="../../../assets/ico/user.svg" height="40" width="40" alt="">
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>