ul{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    padding-block: 1rem;
    align-items: center;
    border-radius: 12px 12px 0px 0px;
}

.navbar-brand>img{
    background-size: contain;
}
.input-group>.form-control{
    border-right: none;
    border-radius: 25px 0px 0px 25px;
    border: none;
}
.input-group>img{
    background-color: #fff;
    border-radius: 0px 25px 25px 0px;
}
.header-row{
    border-radius: 12px 12px 0px 0px;
}

@media (min-width: 992px){

}