<nav class="left-sidenav">
    <ul class="navbar-nav">
        <li appMatchHeight="contentEra"></li>
        <li id="qout" ngbTooltip="Qoutation" class="spacer-50 menu-item nav-item text-center" routerLink="/qout" (click)="changeActive($event)">
            <a class="nav-link menu-text fw-bold" href="#"><small>Qoutation</small></a>
            <img src="../../../assets/ico/total-qout-light.svg" height="15px" width="15px" />
        </li>
        <li ngbTooltip="Booking" routerLink="/dashboard" class="spacer-50 menu-item nav-item text-center" (click)="changeActive($event)">
            <a class="nav-link menu-text fw-bold" routerLink="/"> <small>Booking</small> </a>
            <img src="../../../assets/ico/home.svg" height="15px" width="15px">
        </li>
        <li ngbTooltip="Invoice" class="spacer-50 menu-item nav-item text-center" (click)="changeActive($event)">
            <a class="nav-link menu-text fw-bold" href="#"> <small>Invoice</small> </a>
            <img src="../../../assets/ico/gallery.svg" height="15px" width="15px">
        </li>
        <li ngbTooltip="City" class="spacer-50 menu-item nav-item text-center" (click)="changeActive($event)">
            <a class="nav-link menu-text fw-bold" href="#"> <small>City</small> </a>
            <img src="../../../assets/ico/cloud.svg" height="15px" width="15px">
        </li>
        <li ngbTooltip="Branch" class="spacer-50 menu-item nav-item text-center" (click)="changeActive($event)">
            <a class="nav-link menu-text fw-bold" href="#"> <small>Branch</small> </a>
            <img src="../../../assets/ico/settings.svg" height="15px" width="15px">
        </li>
        <li ngbTooltip="Service" class="spacer-50 menu-item nav-item text-center" (click)="changeActive($event)">
            <a class="nav-link menu-text fw-bold" href="#"> <small>Service</small> </a>
            <img src="../../../assets/ico/user-groups-light.svg" height="30px" width="30px">
        </li>
        <!-- <li class="spacer-50 menu-item nav-item text-center">
            <a class="nav-link menu-text small fw-bold" href="#"> </a>
            <img src="../../../assets/ico/loads.svg" height="15px" width="15px">
        </li>
        <li class="spacer-50 menu-item nav-item text-center">
            <a class="nav-link menu-text small fw-bold" href="#"> </a>
            <img src="../../../assets/ico/options.svg" height="15px" width="15px">
        </li>
        <li class="spacer-50 menu-item nav-item text-center">
            <a class="nav-link menu-text small fw-bold" href="#"> </a>
            <img src="../../../assets/ico/email default.svg" height="15px" width="15px">
        </li>
        <li class="spacer-50 menu-item nav-item text-center">
            <a class="nav-link menu-text small fw-bold" href="#"> </a>
            <img src="../../../assets/ico/total-qout-light.svg" height="15px" width="15px">
        </li> -->
    </ul>
</nav>